$site-primary-family:   'blue-warm';
$site-primary-lighter:  '#{$site-primary-family}-10';
$site-primary-light:    '#{$site-primary-family}-30';
$site-primary:          '#{$site-primary-family}-50';
$site-primary-vivid:    '#{$site-primary-family}-50v';
$site-primary-dark:     '#{$site-primary-family}-70';
$site-primary-darker:   '#{$site-primary-family}-80';
$site-ink:              'black-transparent-80';

$site-border-width:     2px;
$site-base-transparent-light: 'black-transparent-10';
$site-background-color: 'gray-1';

$width-nav-sidebar: 15em;
$theme-font-path: '../../uswds/assets/fonts';
$theme-image-path: '../../uswds/assets/img';

@import '../../uswds/styles/uswds.scss';

// Sidebar Nav --------- //

.site-sidenav.usa-sidenav {
  background-color: color('white');
  border: units($site-border-width) solid color('black-transparent-10');
  border-radius: radius('md');
  padding: 0;
  margin-top: 0;

  a {
    @include u-padding-x(2);
    color: color('base-darker');

    &:hover {
      background-color: transparent;
      color: color($site-primary-vivid);
    }
  }

  .usa-current {
    color: color('base-darker');
    position: static;

    &::after {
      border-radius: 0;
      bottom: units(0);
      background-color: color($site-primary-vivid);
      bottom: units(-1px);
      left: units($site-border-width) * -1;
      top: units(0);
      z-index: z(100);
    }
  }

  .usa-sidenav__item:first-child {
    .usa-current::after {
      border-top-left-radius: radius('md');
      top: units($site-border-width) * -1;
    }
  }

  .usa-sidenav__item:last-child {
    .usa-current::after {
      border-bottom-left-radius: radius('md');
      bottom: units($site-border-width) * -1;
    }
  }

  .usa-sidenav__item {
    border-top: none;
    line-height: lh('lang', 3);
    position: relative;

    & + .usa-sidenav__item {
      a {
        // TODO: use 'black-transparent-5' when value changes
        border-top: units(1px) solid rgba(0, 0, 0, .05);
      }
    }

    &.is-current {
      background-color: color($site-background-color);

      .is-current {
        background-color: transparent;
      }
    }
  }

  .usa-sidenav__sublist {
    font-size: font-size('lang', '3xs');
    a {
      border-top: units(1px) solid rgba(0, 0, 0, .05);
      padding-left: units(2);
    }

    .usa-current {
      color: color($site-primary-vivid);
    }

    .usa-sidenav__sublist {
      a {
        padding-left: units(4);
      }
    }
  }
}

.sidenav {
  display: none;

  @include at-media('desktop') {
    display: block;
    float: left;
    margin-bottom: units(6);
    padding-right: units(4);
    padding-left: 0;
    width: 100%;
  }

  .usa-navigation-submenu {
    &[aria-hidden="false"] {
      display: block;
    }
  }
}

.example {
  .preview {
    border: 1px solid #d5d5d5;
    border-radius: 4px;
    margin-bottom: 30px;
    padding: 15px 10px;
  }

  pre {
    margin-bottom: 90px;
  }
}

.usa-sidenav__item{
  .usa-sidenav__sublist {
    display: none;
  }

  .usa-current{
    + .usa-sidenav__sublist {
      display: block;
    }
  }
}

.grid-example {
  box-sizing: border-box;
  > div {
    + div {
      margin-top: 5px;
    }
  }

  [class*='grid-col'] {
    background: #eee;
    border: 1px solid #333;
    padding: 0 5px;
    text-align: center;
    line-height: 2em;
  }
}
